@model Model.EF.NHAN_VIEN

@{
    ViewBag.Title = "EditProfileUser";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<style>
    .row {
        margin-left: 26px;
    }

    h1 {
        margin-top: 18px;
        margin-left: 35px;
    }

    img.avatar.img-circle {
        height: 164px;
        width: 128px;
    }
</style>
<div class="cardTuLam">
    <h1>Chỉnh sửa thông tin cá nhân</h1>
    <hr>
    <div class="row">
        @using (Html.BeginForm("EditProfileUser", "QLTaiKhoan", FormMethod.Post))
        {
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img src="@Url.Content(@Model.Image)" class="avatar img-circle" alt="avatar" />
                    <h6>Upload a different photo...</h6>
                    <input type="file" name="Image" id="Image" class="form-control">
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">

                <h3>Sinh viên: @Model.TEN_NHANVIEN</h3>

                <input name="ID_NHANVIEN" id="ID_NHANVIEN" type="hidden" value="@Model.ID_NHANVIEN">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tên sinh viên:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="NGAY_SINH" id="NGAY_SINH" type="date" value="@Model.NGAY_SINH">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Điện thoại:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="DIEN_THOAI" id="DIEN_THOAI" type="text" value="@Model.DIEN_THOAI">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="EMAIL" id="EMAIL" type="text" value="@Model.EMAIL">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Địa chỉ:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="DIA_CHI" id="DIA_CHI" type="text" value="@Model.DIA_CHI">
                        </div>
                    </div>
                    <script>
                        function Check() {
                            if (document.getElementById('NGAY_SINH').value === '') {
                                alert("Mời nhập field Ngày sinh");
                                return false;
                            }
                            if (document.getElementById('DIEN_THOAI').value === '') {
                                alert("Mời nhập field Điện thoại");
                                return false;
                            }
                            if (document.getElementById('EMAIL').value === '') {
                                alert("Mời nhập field Email");
                                return false;
                            }
                            if (document.getElementById('DIA_CHI').value === '') {
                                alert("Mời nhập field Địa chỉ");
                                return false;
                            }
                            return true;
                        }
                    </script>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input type="submit" onclick="return Check()" class="btn btn-primary" value="Save Changes">
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>

    <hr>
</div>
