@model WebApplication1.Areas.GiaoVu.Models.ThongKeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<style>
    div#formthongke {
        margin-left: 180px;
    }

    select#NamHoc {
        border-radius: 34px;
        padding-left: 29px;
        padding-right: 25px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    select#HocKy {
        border-radius: 34px;
        padding-left: 21px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    div#btnthongke {
        margin-left: 284px;
        margin-top: 31px;
        padding-left: 18px;
    }

    input#btnthongke {
        padding-left: 120px;
        padding-right: 120px;
    }
</style>

<div class="cardTuLam">

    <h2 id="labelthongke">Thống kê</h2>

    @using (Html.BeginForm("ThongKe", "ThongKe", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" id="formthongke">
                <div class="col-md-5" id="formnamthongke">
                    @Html.Label("Chọn Năm Học:")
                    @Html.DropDownList("NamHoc", ViewBag.DSNamHoc as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NamHoc, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5" id="formhockythongke">
                    @Html.Label("Chọn Học Kỳ:")
                    @Html.DropDownList("HocKy", ViewBag.DSHocKy as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HocKy, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-3" id="btnthongke">
                <input id="btnthongke" type="submit" value="Thống Kê" class="btn btn-default" />
            </div>
        </div>
    }

</div>
