@model Model.EF.MON_HOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Chi tiết môn học</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MA_MON_HOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MA_MON_HOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEN_MON_HOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_MON_HOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SO_CHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_CHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAI_DVHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAI_DVHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAI_HINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAI_HINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MON_TIEN_QUYET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MON_TIEN_QUYET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MON_SONG_HANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MON_SONG_HANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MO_TA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MO_TA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANG_THAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANG_THAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_MON_HOC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
