@model PagedList.IPagedList<Model.EF.MON_HOC>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<style>
    div#themmoilabel {
        margin-bottom: 18px;
    }

    table.table.table-bordered {
        border-radius: 1em;
        overflow: hidden;
    }

    .form-control {
        padding-bottom: 44px;
        width: 383px;
    }

    .pagination-container {
        float: RIGHT;
    }

    form {
        margin-top: 33px;
    }

    input[type="text"] {
        padding-left: 63px;
        margin-right: 20px;
        border-top-right-radius: 18px;
        border-bottom-left-radius: 18px;
        border-top-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
</style>

<div class="cardTuLamIndex">
    <div class="col-md-12">
        <div class="col-md-7" id="themmoilabel">
            <h3>Quản Lý Môn Học</h3>

            <p class="btn">
                @Html.ActionLink("Tạo mới môn học nhiều ngành", "CreateMonNhieuNganh")
            </p>
        </div>
        <div class="col-md-5" id="timkiem">
            @using (Html.BeginForm("Index", "MonHoc", FormMethod.Get))
            {
                <div class="form-control">
                    <input type="text" name="ChuoiTimKiem" value="" placeholder="Tìm kiếm" />
                    <button type="submit" class="btn btn-info btn-fill">Tìm Kiếm</button>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr class="panel-heading">
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().MA_MON_HOC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().TEN_MON_HOC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().SO_CHI)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().TRANG_THAI)
                </th>

                <th>Tùy Chọn</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MA_MON_HOC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TEN_MON_HOC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SO_CHI)
                    </td>

                    <td>
                        @if ((bool)item.TRANG_THAI)
                        {
                            <span class="label label-success">Hoạt động</span>
                        }
                        else
                        {
                            <span class="label label-danger">Tạm khóa</span>
                        }
                    </td>
                    <td>
                        <p class="btn">
                            @Html.ActionLink("Sửa", "Edit", new { id = item.ID_MON_HOC })
                        </p>
                        <p class="btn">
                            @Html.ActionLink("Chi Tiết", "Details", new { id = item.ID_MON_HOC })
                        </p>
                        <p class="btn">
                            @Html.ActionLink("Khóa/Mở", "KhoaMo", new { id = item.ID_MON_HOC })
                        </p>
                    </td>
                </tr>
            }

        </table>
        <div style="float:left">
            <label>Tổng môn học: @Model.Count()/@ViewBag.monhoc</label>
        </div>
        <div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
