@model Model.EF.NAM_HOC

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<style>
    select#TRANGTHAI {
        padding: 7px;
        border-radius: 12px;
    }
</style>
<div class="cardTuLam">
    <h2>Tạo mới năm học</h2>
    <p class="btn">
        @Html.ActionLink("Nhập bằng file", "UploadExcel")
    </p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.TEN_NAM_HOC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TEN_NAM_HOC, new {@id="TenNamHoc", htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TEN_NAM_HOC, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TRANGTHAI, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TRANGTHAI, new SelectList(new[] {
                                                                                            new { Value = "true", Text = "Mở Năm Học" },
                                                                                            new { Value = "false", Text = "Khóa Năm Học" },
                                                                                            }, "Value", "Text"))
                    @Html.ValidationMessageFor(model => model.TRANGTHAI, "", new { @class = "text-danger" })
                </div>
            </div>
            <script>
                function Check() {

                    if (document.getElementById('TenNamHoc').value === '') {
                        alert("Mời nhập field Tên Năm Học");
                        return false;
                    }
                    
                    return true;
                }

            </script>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" onclick="return Check()" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>
