@model PagedList.IPagedList<Model.EF.NAM_HOC>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<style>
    table.table.table-bordered {
        border-radius: 1em;
        overflow: hidden;
    }

    .pagination-container {
        float: RIGHT;
    }
</style>
<div class="cardTuLamIndex">

    <h2>Danh sách năm học</h2>

    <p class="btn">
        @Html.ActionLink("Tạo mới năm học", "Create")
    </p>

    <hr />
    <br />
    <table class="table table-bordered">
        <tr class="panel-heading">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TEN_NAM_HOC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TRANGTHAI)
            </th>
            <th>Tùy Chọn</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TEN_NAM_HOC)
                </td>
                <td>
                    @if ((bool)item.TRANGTHAI)
                    {
                        <span class="label label-success">Hoạt động</span>
                    }
                    else
                    {
                        <span class="label label-danger">Tạm khóa</span>
                    }
                </td>
                <td>
                    <p class="btn">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.ID_NAM_HOC })
                    </p>
                    <p class="btn">
                        @Html.ActionLink("Khóa/Mở", "KhoaMo", new { id = item.ID_NAM_HOC })
                    </p>
                </td>
            </tr>
        }

    </table>
    <div style="float:left">
        <label>Tổng năm học: @Model.Count()/@ViewBag.NamHoc</label>
    </div>
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index",
                                new { page }))
    </div>
</div>
