@model Model.EF.CT_PHIEU_DANG_KY

@{
    ViewBag.Title = "ThemMonVaoPhieuCTH";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
    var DSMonHoc = (Model.EF.MON_HOC)ViewBag.MONHOC;
    var i = (Model.EF.PHIEU_DANG_KY)ViewBag.IDPhieuDangKy;
    var dsMon = (List<Model.EF.CT_PHIEU_DANG_KY>)ViewBag.DsMon;
    var j = (int)dsMon.Count();
}
<style>
    select#ID_MON_HOC {
        margin-left: 75px;
        padding-left: 30px;
        padding-right: 33px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 11px;
    }

    select#ID_PHIEU_DANG_KY {
        margin-left: 75px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 11px;
    }

    input.btn.btn-default {
        margin-left: -15px;
        padding-left: 39px;
        padding-right: 40px;
        border-radius: 18px;
    }

    .themmon {
        margin-top: 27px;
        text-align: center;
    }

    div#tongchilabel {
        padding-top: 6px;
        padding-left: 26px;
    }

    div#formhienthithongtin {
        margin-left: 117px;
    }

    p#labeltimmondsmon {
        padding-left: 31px;
    }

    .PreThongTinMon {
        display: block;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        padding-left: 3%;
        padding-right: 18%;
    }
</style>
<h2 class="themmon">Thêm Môn Vào Phiếu Đăng Ký</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.ID_MON_HOC, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.DropDownList("ID_MON_HOC", new List<SelectListItem> { new SelectListItem { Text = DSMonHoc.TEN_MON_HOC, Value = DSMonHoc.ID_MON_HOC.ToString() } })
                @Html.ValidationMessageFor(model => model.ID_MON_HOC, "", new { @class = "text-danger" })
            </div>
        </div>
        <pre class="PreThongTinMon">
               - Số Chỉ             :  @DSMonHoc.SO_CHI.ToString() chỉ
               - Loại hình          :  @DSMonHoc.LOAI_HINH.ToString()
               - Môn học tiên quyết :  @DSMonHoc.MON_TIEN_QUYET.ToString()
               - Môn học song hành  :  @DSMonHoc.MON_SONG_HANH.ToString()
        </pre>
        <div class="form-group">
            @Html.LabelFor(model => model.ID_PHIEU_DANG_KY, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.DropDownList("ID_PHIEU_DANG_KY", new List<SelectListItem> { new SelectListItem { Text = i.ID_PHIEU_DANG_KY.ToString(), Value = i.ID_PHIEU_DANG_KY.ToString() } })
                @Html.ValidationMessageFor(model => model.ID_PHIEU_DANG_KY, "", new { @class = "text-danger" })
            </div>
            <div id="tongchilabel" class="col-md-2">
                @Html.Label("Tổng Chỉ: " + i.TONG_SO_TIN_CHI.ToString())
            </div>
            <script>
                function CheckSoChi() {
                    var tongchi = @i.TONG_SO_TIN_CHI;
                    var sochicongtiep = @DSMonHoc.SO_CHI;
                    if (tongchi + sochicongtiep > 20) {
                        alert('Hơn 20 chỉ');
                        return false;
                    }
                    return true;
                }

            </script>
            <div class="col-md-3">
                <input type="submit" onclick="return CheckSoChi()" value="Thêm vào Phiếu" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr />
<p id="labeltimmondsmon"><strong>Danh sách môn có trong phiếu</strong></p>
<table class="table table-bordered table-responsive">
    <tr class="active panel-info">
        <th>
            @Html.DisplayName("Mã Môn")
        </th>
        <th>
            @Html.DisplayName("Tên Môn")
        </th>
        <th>
            @Html.DisplayName("Số Chỉ")
        </th>
    </tr>
    @foreach (var item in dsMon)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MON_HOC.MA_MON_HOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MON_HOC.TEN_MON_HOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MON_HOC.SO_CHI)
            </td>
        </tr>
    }
</table>


