@model WebApplication1.Models.TimKiemModel

@{
    ViewBag.Title = "TimMonDangKy";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
    var i = (Model.EF.PHIEU_DANG_KY)ViewBag.IDPhieuDangKy;
    var dsMon = (List<Model.EF.CT_PHIEU_DANG_KY>)ViewBag.DsMon;
}
<style>
    input#tentimkiem {
        margin-left: 75px;
        padding-left: 30px;
        padding-right: 33px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 11px;
    }
    table.table.table-bordered.table-responsive {
        border-radius: 1em;
        overflow: hidden;
        text-align: center;
    }

    th {
        text-align: center;
    }
    select#idPhieu {
        margin-left: 75px;
        padding-left: 10px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 11px;
    }

    input.btn.btn-default {
        margin-left: 7px;
        padding-left: 52px;
        padding-right: 65px;
        border-radius: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    label {
        margin-left: 14px;
    }

    .timkiem {
        margin-top: 21px;
        text-align: center;
    }

    div#tongchilabel {
        padding-top: 6px;
        padding-left: 9px;
    }

    p#labeltimmondsmon {
        padding-left: 31px;
    }
</style>
<h2 class="timkiem">Tìm Kiếm Môn Đăng Ký</h2>

@using (Html.BeginForm("TimMonDangKy", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.chuoitimkiem, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.chuoitimkiem, new { htmlAttributes = new { @id = "tentimkiem", @name = "timkiem", @class = "form-control", @placeholder = "Tìm Theo mã môn. ví dụ: CS 211" } })
                @Html.ValidationMessageFor(model => model.chuoitimkiem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPhieu, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.DropDownList("idPhieu", new List<SelectListItem> { new SelectListItem { Text = i.ID_PHIEU_DANG_KY.ToString(), Value = i.ID_PHIEU_DANG_KY.ToString() } })
                @Html.ValidationMessageFor(model => model.idPhieu, "", new { @class = "text-danger" })
            </div>
            <div id="tongchilabel" class="col-md-2">
                @Html.Label("Tổng Chỉ: " + i.TONG_SO_TIN_CHI.ToString())
            </div>
            <script language="Javascript">
                function IsEmpty() {
                    if (document.getElementById('tentimkiem').value === '') {
                        alert("Mời nhập đầy đủ thông tin");
                        return false;
                    }
                    return true;
                }
            </script>
            <div class="col-md-3">
                <input onclick=" return IsEmpty()" type="submit" value="Tìm Môn" class="btn btn-default" />
            </div>

        </div>
    </div>
}
<hr />
<p id="labeltimmondsmon"><strong>Danh sách môn có trong phiếu</strong></p>
<table class="table table-bordered table-responsive">
    <tr class="panel-heading">
        <th>
            @Html.DisplayName("Mã Môn")
        </th>
        <th>
            @Html.DisplayName("Tên Môn")
        </th>
        <th>
            @Html.DisplayName("Số Chỉ")
        </th>
    </tr>
    @foreach (var item in dsMon)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MON_HOC.MA_MON_HOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MON_HOC.TEN_MON_HOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MON_HOC.SO_CHI)
            </td>
        </tr>
    }
</table>


