@model IEnumerable<Model.EF.CHUONG_TRINH_HOC>

@{
    ViewBag.Title = "XemChuongTrinhHoc";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}
<style>
    h2#labelchuongtrinhhoc {
        margin: 32px;
    }
</style>
<h2 id="labelchuongtrinhhoc">Chương Trình Học</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Mã Môn Học")
        </th>
        <th>
            @Html.DisplayName("Tên Môn Học")
        </th>
        <th>
            @Html.DisplayName("Tình Trạng")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MON_HOC.MA_MON_HOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MON_HOC.TEN_MON_HOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TINH_TRANG)
            </td>
        </tr>
    }
</table>
