@model Model.EF.PHIEU_DANG_KY

@{
    ViewBag.Title = "XemChiTietPhieu";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
    var dsMon = (List<Model.EF.CT_PHIEU_DANG_KY>)ViewBag.DsMon;
}
<style>
    h3#labelchitietphieu {
        margin-left: 71px;
        padding-top: 24px;
    }

    button#btnsuaphieu {
        border-radius: 26px;
        float: right;
        margin-right: 37px;
        margin-bottom: 11px;
    }
    table.table.table-bordered.table-responsive {
        border-radius: 1em;
        overflow: hidden;
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>
<div>
    <h3 id="labelchitietphieu">Chi Tiết Phiếu Đăng Ký</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_NAM_HOC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NAM_HOC.TEN_NAM_HOC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ID_HOC_KY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HOC_KY.TEN_HOC_KY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TONG_SO_TIN_CHI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TONG_SO_TIN_CHI)
        </dd>
        <hr />
    </dl>
</div>
<p>
    <button id="btnsuaphieu">
        @Html.ActionLink("Sửa Phiếu", "TimMonDangKy", new { id = Model.ID_PHIEU_DANG_KY })
    </button>
</p>
<table class="table table-bordered table-responsive">
    <tr class="panel-heading">
        <th>
            @Html.DisplayName("Mã Môn")
        </th>

        <th>
            @Html.DisplayName("Tên Môn")
        </th>
        <th>
            @Html.DisplayName("Số Chỉ")
        </th>
        <th>
            Tùy Chọn
        </th>
    </tr>
    @foreach (var item in dsMon)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MON_HOC.MA_MON_HOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MON_HOC.TEN_MON_HOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MON_HOC.SO_CHI)
            </td>
            <td>
                <div class="btn">
                    @Html.ActionLink("Xóa Môn", "XoaMonTrongPhieu", new { idMon = item.ID_MON_HOC, idCtPhieu = item.ID_CT_PHIEU_DANG_KY, idPhieuDK = item.ID_PHIEU_DANG_KY }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa môn');" })
                </div>
            </td>
        </tr>
    }
</table>
