@model IEnumerable<Model.EF.PHIEU_DANG_KY>

@{
    ViewBag.Title = "XemLichSuDangKy";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}

<h2 id="labellichsu">Xem Lịch Sử Đăng Ký</h2>
<p class="btn">
    @Html.ActionLink("Tạo Mới Phiếu Đăng Ký", "TaoPhieuDangKy")
</p>
<hr />
<table class="table table-bordered table-responsive">
    <tr class="active">

        <th>
            @Html.DisplayName("NĂM HỌC")
        </th>
        <th>
            @Html.DisplayName("HỌC KỲ")
        </th>
        <th>
            @Html.DisplayName("SỐ TÍN CHỈ")
        </th>
        <th>Tùy Chọn</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAM_HOC.TEN_NAM_HOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HOC_KY.TEN_HOC_KY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONG_SO_TIN_CHI)
            </td>
            <td>
                @Html.ActionLink("Xem Chi Tiết Phiếu", "XemChiTietPhieu", new { id = item.ID_PHIEU_DANG_KY })
            </td>
        </tr>
    }

</table>
<style>
    h2#labellichsu {
        padding-left: 28px;
        margin-top:15px;
    }
</style>