@model IEnumerable<Model.EF.PHIEU_DANG_KY>

@{
    ViewBag.Title = "XemLichSuDangKy";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}
<style>
    p#btntaophieuXem {
        margin-left: 4%;
    }
    table.table.table-bordered.table-responsive {
        border-radius: 1em;
        overflow: hidden;
        text-align: center;
    }
    th {
        text-align: center;
    }
</style>

<h2 id="labellichsu">Xem Lịch Sử Đăng Ký</h2>
<p id="btntaophieuXem" class="btn">
    @Html.ActionLink("Tạo Mới Phiếu Đăng Ký", "TaoPhieuDangKy")
</p>
<hr />
<table class="table table-bordered table-responsive">
    <tr class="panel-heading">

        <th>
            @Html.DisplayName("Năm Học")
        </th>
        <th>
            @Html.DisplayName("Học Kỳ")
        </th>
        <th>
            @Html.DisplayName("Số tín chỉ")
        </th>
        <th>Tùy Chọn</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAM_HOC.TEN_NAM_HOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HOC_KY.TEN_HOC_KY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONG_SO_TIN_CHI)
            </td>
            <td>
                <p class="btn">
                    @Html.ActionLink("Xem Phiếu", "XemChiTietPhieu", new { id = item.ID_PHIEU_DANG_KY })
                </p>
            </td>
        </tr>
    }

</table>
<style>
    h2#labellichsu {
        padding-left: 28px;
        margin-top: 15px;
    }
</style>