@model IEnumerable<Model.EF.QUYEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<div class="cardTuLamIndex">

    <h2>Quản Lý Quyền</h2>

    <p class="btn">
        @Html.ActionLink("Tạo Mới Loại Người Dùng", "Create")
    </p>
    <hr />
    <table class="table table-bordered">
        <tr class="panel-heading">
            <th>
                @Html.DisplayNameFor(model => model.TEN_QUYEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MO_TA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TRANG_THAI)
            </th>
            <th>Tùy Chọn</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TEN_QUYEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MO_TA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TRANG_THAI)
                </td>
                <td>
                    <p class="btn">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.ID_QUYEN })
                    </p>
                    <p class="btn">
                        @Html.ActionLink("Khóa", "Khoa", new { id = item.ID_QUYEN })
                    </p>
                </td>
            </tr>
        }
    </table>

</div>
