@model Model.EF.SINH_VIEN

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<style>
    select#ID_CHUYEN_NGANH {
        padding: 7px;
        border-radius: 12px;
    }


    select#TRANG_THAI {
        padding: 7px;
        border-radius: 12px;
    }
</style>

<div class="cardTuLam">

    <h2>Tạo mới sinh viên</h2>

    <p class="btn">
        @Html.ActionLink("Upload file", "UploadExcel")
    </p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.MA_SINH_VIEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.MA_SINH_VIEN, new { htmlAttributes = new { @id = "MaSinhVien", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TEN_SINH_VIEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TEN_SINH_VIEN, new { htmlAttributes = new { @id = "TenSinhVien", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TEN_SINH_VIEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NGAY_SINH, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.NGAY_SINH, new { htmlAttributes = new { @id = "NgaySinh", @type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NGAY_SINH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CMND, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @id = "CMND", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DIEN_THOAI, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DIEN_THOAI, new { htmlAttributes = new { @id = "DienThoai", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DIEN_THOAI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DIA_CHI, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DIA_CHI, new { htmlAttributes = new { @id = "DiaChi", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DIA_CHI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @id = "Email", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ID_CHUYEN_NGANH, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8 dropdown-danger">
                    @Html.DropDownList("ID_CHUYEN_NGANH", ViewBag.DsChuyenNganh as SelectList, new { htmlAttributes = new { @class = "form-control dropdown-buulam" } })
                    @Html.ValidationMessageFor(model => model.ID_CHUYEN_NGANH, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TRANG_THAI, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TRANG_THAI, new SelectList(new[] {
                                                                            new { Value = "true", Text = "Mở Sinh Viên" },
                                                                            new { Value = "false", Text = "Khóa Sinh Viên" },
                                                                            }, "Value", "Text"))
                    @Html.ValidationMessageFor(model => model.TRANG_THAI, "", new { @class = "text-danger" })
                </div>
            </div>
            <script>
                function Check() {
                    if (document.getElementById('MaSinhVien').value === '') {
                        alert("Mời nhập field Mã sinh viên");
                        return false;
                    }
                    if (document.getElementById('TenSinhVien').value === '') {
                        alert("Mời nhập field Tên sinh viên");
                        return false;
                    }
                    if (document.getElementById('NgaySinh').value === '') {
                        alert("Mời nhập field Ngày sinh");
                        return false;
                    }
                    if (document.getElementById('CMND').value === '') {
                        alert("Mời nhập field CMND");
                        return false;
                    }
                    if (document.getElementById('DienThoai').value === '') {
                        alert("Mời nhập field Điện thoại");
                        return false;
                    } if (document.getElementById('DiaChi').value === '') {
                        alert("Mời nhập field Địa chỉ");
                        return false;
                    } if (document.getElementById('Email').value === '') {
                        alert("Mời nhập field Email");
                        return false;
                    }
                    return true;
                }
            </script>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" onclick="return Check()" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>


