@model Model.EF.SINH_VIEN

@{
    ViewBag.Title = "EditProfileUser";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}
<style>
    .row {
        margin-left: 26px;
    }

    h1 {
        margin-top: 18px;
        margin-left: 35px;
    }
</style>
<h1>Chỉnh sửa thông tin cá nhân</h1>
<hr>
<div class="row">
    <!-- left column -->
    <div class="col-md-3">
        <div class="text-center">
            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
            <h6>Upload a different photo...</h6>

            <input type="file" class="form-control">
        </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">

        <h3>Sinh viên: @Model.TEN_SINH_VIEN</h3>
        @using (Html.BeginForm("EditProfileUser", "QLTaiKhoan", FormMethod.Post))
        {
            <input name="ID_SINHVIEN" id="ID_SINHVIEN" type="hidden" value="@Model.ID_SINHVIEN">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Ngày sinh:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="NGAY_SINH" id="NGAY_SINH" type="date" value="@Model.NGAY_SINH">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Số CMND:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="CMND" id="CMND" type="text" value="@Model.CMND">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Điện thoại:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="DIEN_THOAI" id="DIEN_THOAI" type="text" value="@Model.DIEN_THOAI">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="EMAIL" id="EMAIL" type="text" value="@Model.EMAIL">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Địa chỉ:</label>
                    <div class="col-md-8">
                        <input class="form-control" name="DIA_CHI" id="DIA_CHI" type="text" value="@Model.DIA_CHI">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<hr>