@model Model.EF.TAIKHOAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Thông tin tài khoản</h2>

<div>
    <hr />
    <dl class="dl-horizontal ">
        <dt>
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.PASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASS)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.QUYEN.TEN_QUYEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUYEN.TEN_QUYEN)
        </dd>

    </dl>
</div>

