@model IEnumerable<Model.EF.TAIKHOAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h3>Quản Lý Người dùng</h3>

<p class="btn">
    @Html.ActionLink("Tạo Mới", "Create")
</p>
<hr />
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_QUYEN)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.USERNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PASS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QUYEN.TEN_QUYEN)
            </td>
            
        </tr>
    }

</table>
