@model IEnumerable<Model.EF.TAIKHOAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_QUYEN)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.USERNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PASS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_QUYEN)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID_TAI_KHOAN })
            </td>
        </tr>
    }

</table>
